

.login-container {
    background: rgb(173,212,221);
    background: linear-gradient(90deg, rgba(173,212,221,1) 29%, rgba(198,255,186,1) 86%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #000;
    width: 30vw;
    margin-left:35%;
    margin-top: 50px;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.login-container .links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.login-container button {
    background-color: #A759FF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-container a {
    color: #000;
    text-decoration: none;
}